<div class="row">
    <div class="col-md-10">
        <h2>Lista de Checklists</h2>
    </div>
    <div class="col-md-2" *ngIf="habilitaBotaoCadastro">
        <button type="button" class="btn btn-sm btn-primary" (click)="openModalNovoChecklist(newChecklist)"
            title="Novo Cadastro">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            Cadastrar Checklist
        </button>
    </div>
</div>
<div class="table-reponsive">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Nome do Checklist</th>
                <th>Status</th>
                <th>Responsável</th>
                <th>
                    Ação &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let check of checklist">
                <td class="text-center">{{check.id}}</td>
                <td class="text-center">{{check.descricao}}</td>
                <td class="text-center">{{check.statusNome}}</td>
                <td class="text-center">{{check.responsavel}}</td>
                <td class="text-center">
                    <a [routerLink]="'/checklist/edit/' + check.id" [queryParams]="{ visualiza: 1 }" class="btn btn-sm"
                        title="Visualizar Checklist" *ngIf="visibilidadeBotaoVisualizar(check.statusNome)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                    </a>
                    <button (click)="executarChecklist(check.id, check.descricao)" class="btn btn-sm"
                        title="Executar Checklist"
                        *ngIf="habilitaBotaoAssumeExecucao && (check.statusNome == 'Pendente' || check.statusNome == 'Reprovado Supervisor')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-journal-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                            <path
                                d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                            <path
                                d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                        </svg>
                    </button>
                    &nbsp;
                    <a routerLink="/checklist/edit/{{check.id}}" class="btn btn-sm" title="Editar Checklist"
                        *ngIf="visibilidadeBotaoEditarPorTipoUsuarioPorStatus(check.statusNome)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                    &nbsp;
                    <button type="button" (click)="removerCheck(check.id)" class="btn btn-sm" title="Excluir Checklist"
                        *ngIf="habilitaBotaoExclusao">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #newChecklist let-modal data-back="">
    <div class="modal-header">
        <h4 class="modal-title">Novo Checklist</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-checklist-new (novoChecklist)="updateList($event)"></app-checklist-new>
    </div>
</ng-template>